<h1>Patron: $patron.getFullName()</h1>
<br>
<p><strong>First Name:</strong> $patron.getFirstName()</p>
<p><strong>Last Name:</strong> $patron.getLastName()</p>
<br>
<h3>All Checked Out Books</h3>
<ul>
<li></li>
</ul>
<br>
<a href="/">Back to Main</a>
